.research-container {
  margin: 0 auto;
  padding: 0 1rem;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 3rem;
}

.articles-column {
  padding-right: 1rem;
  padding-left: 1rem;
}

.featured-column {
  display: flex;
  margin-top: 54px;
  height: 100%;
}

@media (max-width: 768px) {
  .grid-layout {
    grid-template-columns: 1fr;
  }
  
  .articles-column {
    padding-right: 0;
  }
}